dist/javadoc

nbproject
.nb-gradle

*.class
*.zip
*~
.gitignore
gitUpdate.sh

start*.sh
/.gradle/
/bin/
.classpath
.project
.settings/

.idea
out/
build/

version.properties
RepoZugang.properties

/logs/

logs/
/target/
